{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<title>{% block title %}...{% endblock %}</title>
	</head>

	<body class="bg-gray-900 font-serif leading-normal tracking-normal">
		
		{% block nav %}
		<p>nav</p>
	    {% endblock %}

		{% block content %}
             
        {% endblock %}

		{% block footer %}
		<p>footer</p>
	    {% endblock %}
	</body>
</html>
